.root {
  position: relative;
  border-radius: 8px;
  background-color: #fff;

  :global {
    .textarea {
      width: 250px;
      height: 58px;
      font-size: 16px;
      background-color: #f7f8fa;
      padding-left: 10px;

      &::placeholder {
        color: #999;
      }

      &:focus-visible {
        outline: none;
      }
    }

    .count {
      margin-top: 4px;
      text-align: left;
      font-size: 12px;
      color: #999;
    }
  }
}